<div>
    <h1>Welcome to My UTube System</h1>
    <input type="text" placeholder="Search videos..." [(ngModel)]="searchQuery" (keyup.enter)="searchVideos()">
</div>
<div class="container">


    <img src="assets/jb.jpeg" class="img-fluid mb-4" style="width: 500px; height: 250px">
    <a href="https://www.youtube.com/watch?app=desktop&v=h2jvHynuMjI">
        <button type="button" class="btn btn-secondary">Watch</button>
      </a>
    <div class="row">
<div class="col">
  <h1 style="color:rgb(176, 11, 11);"> <strong>Explore the Trending Videos On Utube</strong></h1>
  <img src="assets/tihurm.jpeg" alt="Music Video" class="img-fluid mb-4" style= "max-width: 500px;" >
  <em>"Nickelback - How You Remind Me [OFFICIAL VIDEO]"</em> 
  <a href="https://www.youtube.com/watch?v=Aiay8I5IPB8">
  <button type="button" class="btn btn-secondary">Watch</button>
</a>

  <div class="col">
    <img src="assets/idwtmat.jpeg" alt="Music Video" class="img-fluid mb-4" style= "max-width: 300px;" >
  <em>"I Don't Want To Miss A Thing - Aerosmith"</em> 
  <a href="https://www.youtube.com/watch?v=bn8QPRYWAdk">
    <button type="button" class="btn btn-secondary">Watch</button>
  </a>

    <div class="col">
      <img src="assets/black.jpeg" alt="Music Video" class="img-fluid mb-4" style= "max-width: 300px;" >
    <em>"Black - Aku Rindu Sayang Kamu (Official Audio Music)"</em> 
    <a href="https://www.youtube.com/watch?v=mmwI1kiY8aA">
      <button type="button" class="btn btn-secondary">Watch</button>
    </a>

</div>
</div>